body {
    background-color: #fefcfc;
}

.fill {
    min-height: 100vh;
}

.highlight {
    border-top: 2px solid #56d3fc;
    border-bottom: 2px solid #56d3fc;
    margin-bottom: 1rem;
    padding: 1rem 0 0 0;
}

.highlight > p {
    padding: 0
}

#map-link {
    text-decoration: underline;
}

#map-link:hover {
    color: #007bff;
}
