body {
    background-color: #EDEDED;
}

.fill {
    min-height: 100vh;
}

.highlight {
    padding: 1rem 0;
    background-color: rgba(255, 234, 0, 0.3);
}

.notification {
    margin-bottom: 1rem;
    padding: 1rem 0;
    background-color: rgba(255, 104, 104, 0.5)
}

#upcoming-singings p {
    margin-bottom: 0
}

#map-link {
    text-decoration: underline;
}

#map-link:hover {
    color: #007bff;
}
